body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
    color: #4CAF50;
}

.info-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.input-group {
    margin-bottom: 25px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #4CAF50;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.input-group input:focus {
    outline: none;
    border-color: #4CAF50;
}

.input-group button {
    width: 100%;
    padding: 10px 15px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-group button:hover {
    background-color: #45a049;
}

.result-card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #4CAF50;
    text-decoration: none;
}

.back-button {
    width: 100%;
    padding: 10px 15px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #45a049;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}
  
.form-container, .info-container {
    flex-basis: 45%;
}

.description {
    font-size: 0.8em;
    color: #6c757d;
    margin: 5px 0 20px;
}
